@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f4f3ec;
  --color-accent: #c084fc;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
